.experience_container{

    text-align: center;
    color: aliceblue;
}

.exp_section{
    background-color: rgba(131, 101, 112, 0.5);
    width: 60%; 
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    min-width: 300px;
    font-size: 20px;
}

.exp_section:hover{
    transition: linear 0.3s;
    background-color: rgba(202, 80, 129, 60%);
}

.linkfile{
    color: rgb(5, 29, 50);
    text-decoration: none;
}

.linkfile:hover{
  transition: linear 0.3s;
  color: rgba(225, 227, 221, 0.6);
}