.navItem {
  text-align: center;
  font-size: 35px;
  font-family: "Nunito", sans-serif;
  font-family: "Playfair Display", serif;
  font-style: italic;
  transition: background-color linear 0.3s;
}

.navItem a {
  text-decoration: none;
  color: rgb(218, 22, 100);
}

.navItem a:hover {
  color: rgb(250, 246, 248);
  
}

.navItem a.active {
  color: rgb(232, 229, 241);
}
