.main_container {
  text-align: center;
  color: aliceblue;
  margin-top: 200px;
  font-size: 30px;
  overflow: hidden;
}

.main_header,
.printText {
  overflow: hidden;
  white-space: nowrap;
}

.main_header {
  animation: appearFromLeft 3s forwards;
}

.printText {
  animation: appearFromRight 3s forwards;
}

.main_header:hover,
.name:hover {
  color: rgb(218, 22, 100);
}

.name {
  color: rgb(218, 22, 100);
}

@keyframes appearFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appearFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
