body {
  background-image: url("./images/backgra.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}
