.contact_container {
  text-align: center;
  background-color: rgba(131, 101, 112, 0.5);
  margin: 100px 200px 50px 200px;
  border: 1px solid black;
  border-radius: 30px;
  min-width: 300px;
  font-size: 20px;
  color: aliceblue;
  padding: 20px;
  
}

.contact_container:hover {
  transition: linear 0.3s;
  background-color: rgba(202, 80, 129, 60%);
}

.phone a,
.email a {
  color: rgb(211, 217, 223);
}

.phone a:hover,
.email a:hover {
  color: rgb(157, 114, 131);
  transition: linear 0.3s;
}


.gitHab img,
.linkedIn img {
  width: 75px; 
  height: 25px; 
}

.gitHab img:hover,
.linkedIn img:hover {
  filter: brightness(0.8); 
  transition: linear 0.3s;
}
